body { 
    font-family: impact, sans-serif;
    background-color: orange;
}
h1 {
    color: red;
}

.centrado {
    text-align: center;
}

.grande {
    font-size: 80px;
}

div{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}